#### ä»»åŠ¡ä¸€ï¼š

ã€ä»»åŠ¡ä¸€ã€‘ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§

ã€é¢˜ç›®æè¿°ã€‘ä¸€ä¸ªä¼ä¸šçš„äº§ä¸šæ”¶å…¥å¤šæ ·æ€§å¯ä»¥ä»¿ç…§ä¿¡æ¯ç†µçš„æ¦‚å¿µæ¥å®šä¹‰æ”¶å…¥ç†µæŒ‡æ ‡ï¼š

$$\rm I=-\sum_{i}p(x_i)\log(p(x_i))$$

 æ˜¯ä¼ä¸šè¯¥å¹´æŸäº§ä¸šæ”¶å…¥é¢å è¯¥å¹´æ‰€æœ‰äº§ä¸šæ€»æ”¶å…¥çš„æ¯”é‡ã€‚åœ¨company.csvä¸­å­˜æœ‰éœ€è¦è®¡ç®—çš„ä¼ä¸šå’Œå¹´ä»½ï¼Œåœ¨company_data.csvä¸­å­˜æœ‰ä¼ä¸šã€å„ç±»æ”¶å…¥é¢å’Œæ”¶å…¥å¹´ä»½çš„ä¿¡æ¯ã€‚ç°è¯·åˆ©ç”¨åä¸€å¼ è¡¨ä¸­çš„æ•°æ®ï¼Œåœ¨å‰ä¸€å¼ è¡¨ä¸­å¢åŠ ä¸€åˆ—è¡¨ç¤ºè¯¥å…¬å¸è¯¥å¹´ä»½çš„æ”¶å…¥ç†µæŒ‡æ ‡ 
Iã€‚

In [117]:
%cd drive/MyDrive/data

[Errno 2] No such file or directory: 'drive/MyDrive/data'
/content/drive/My Drive/data

In [118]:
%cd data

[Errno 2] No such file or directory: 'data'
/content/drive/My Drive/data

In [119]:
!ls

 airport.csv	    fruit.csv		       my_txt_saved.txt
 audit.csv	    house_info.xls	       pokemon.csv
 car.csv	    learn_pandas.csv	       script.csv
 chocolate.csv	    missing_chi.csv	       solar.csv
 color.xlsx	    my_csv.csv		       us_report
 company.csv	    my_csv_saved.csv	       winCodeSign-2.5.0.7z
 Company.csv	    my_excel_saved.xlsx       'å¯è§†åŒ– (1).JPG'
 Company_data.csv   my_excel.xlsx	       å¯è§†åŒ–.JPG
 diamonds.csv	    my_table_special_sep.txt   ç›¸æ§é˜µ.png
 drugs.csv	    my_table.txt	       ç³»ç»Ÿ.png

In [142]:
import pandas as pd

df1 = pd.read_csv('Company.csv')
df2 = pd.read_csv('Company_data.csv')

In [121]:
df1.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [122]:
df2.head()

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [143]:
# å°†df1çš„è¯åˆ¸ä»£ç æ ¼å¼åŒ–ä¸ºæ•°å­—
df1['è¯åˆ¸ä»£ç '] = df1['è¯åˆ¸ä»£ç '].str[1:].astype('int64')
df1.head()

   è¯åˆ¸ä»£ç     æ—¥æœŸ
0     7  2014
1   403  2015
2   408  2016
3   408  2017
4   426  2015

In [144]:
# å°†df2çš„æ—¥æœŸè½¬æ¢ä¸ºå¹´
df2['æ—¥æœŸ'] = df2['æ—¥æœŸ'].map(lambda x:x.split('/')[0])

In [145]:
df2['æ—¥æœŸ'] = df2['æ—¥æœŸ'].astype('int64')
df1['æ—¥æœŸ'] = df1['æ—¥æœŸ'].astype('int64')

In [126]:
df2['æ—¥æœŸ']

0         2008
1         2008
2         2008
3         2008
4         2008
          ...
964017    2016
964018    2016
964019    2016
964020    2016
964021    2016
Name: æ—¥æœŸ, Length: 964022, dtype: int64

In [127]:
df2.head()

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0  #000001  2008     1  1.084218e+10
1  #000001  2008     2  1.259789e+10
2  #000001  2008     3  1.451312e+10
3  #000001  2008     4  1.063843e+09
4  #000001  2008     5  8.513880e+08

In [130]:
df2['æ—¥æœŸ']

0         2008
1         2008
2         2008
3         2008
4         2008
          ...
964017    2016
964018    2016
964019    2016
964020    2016
964021    2016
Name: æ—¥æœŸ, Length: 964022, dtype: int64

In [146]:
df1.head()

   è¯åˆ¸ä»£ç     æ—¥æœŸ
0     7  2014
1   403  2015
2   408  2016
3   408  2017
4   426  2015

In [147]:
import numpy as np

def compute_shang(x):
    # è®¡ç®—æ”¶å…¥ç†µ
    if x.any():
        p = x/x.sum()
        return -(p*np.log2(p)).sum()
    return np.nan

In [148]:
res = df1.merge(df2, on=['è¯åˆ¸ä»£ç ','æ—¥æœŸ'], how='left').groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ”¶å…¥é¢'].apply(compute_shang).reset_index()
res.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)

   è¯åˆ¸ä»£ç     æ—¥æœŸ       æ”¶å…¥é¢
0     7  2014  4.429740
1   403  2015  4.025963
2   408  2016  4.066295
3   408  2017       NaN
4   426  2015  4.449655

In [149]:
df1['æ”¶å…¥ç†µæŒ‡æ ‡I'] = res['æ”¶å…¥é¢']
df1.head()

   è¯åˆ¸ä»£ç     æ—¥æœŸ    æ”¶å…¥ç†µæŒ‡æ ‡I
0     7  2014  4.429740
1   403  2015  4.025963
2   408  2016  4.066295
3   408  2017       NaN
4   426  2015  4.449655

#### ä»»åŠ¡äºŒ
ã€ä»»åŠ¡äºŒã€‘ç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢

ã€é¢˜ç›®æè¿°ã€‘è¯·æŠŠç»„é˜Ÿå­¦ä¹ çš„é˜Ÿä¼ä¿¡æ¯è¡¨å˜æ¢ä¸ºå¦‚ä¸‹å½¢æ€ï¼Œå…¶ä¸­â€œæ˜¯å¦é˜Ÿé•¿â€ä¸€åˆ—å–1è¡¨ç¤ºé˜Ÿé•¿ï¼Œå¦åˆ™ä¸º0

```
	æ˜¯å¦é˜Ÿé•¿	é˜Ÿä¼åç§°	    æ˜µç§°    	ç¼–å·
0	1	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	å±±æ«å¶çº·é£	5
1	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	è”¡	        6
2	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	å®‰æ…•å¸Œ	    7
3	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	ä¿¡ä»°	    8
4	0	    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ	biubiuğŸ™ˆğŸ™ˆ	20
...	...	    ...	        ...	        ...
141	0	    ä¸ƒæ˜Ÿè”ç›Ÿ	    Daisy	    63
142	0	    ä¸ƒæ˜Ÿè”ç›Ÿ    	One Better	131
143	0	    ä¸ƒæ˜Ÿè”ç›Ÿ    	rain	    112
144	1	    åº”å¦‚æ˜¯	    æ€æ— é‚ª	    54
145	0	    åº”å¦‚æ˜¯	    Justzer0	58
```

In [152]:

df = pd.read_excel('ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx')
# å»æ‰æ— ç”¨çš„åˆ—
df.drop(columns='æ‰€åœ¨ç¾¤', inplace=True)

In [153]:
df.head()

     é˜Ÿä¼åç§°  é˜Ÿé•¿ç¼–å·  é˜Ÿé•¿_ç¾¤æ˜µç§°  é˜Ÿå‘˜1 ç¼–å·  ... é˜Ÿå‘˜9 ç¼–å·  é˜Ÿå‘˜_ç¾¤æ˜µç§°.8 é˜Ÿå‘˜10ç¼–å·  é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     5  å±±æ«å¶çº·é£        6  ...    NaN       NaN    NaN       NaN
1     ç†ŠçŒ«äºº   175     é±¼å‘²å‘²      44  ...   28.0     X.Y.Q  151.0    swrong
2   ä¸­å›½ç§»ä¸åŠ¨   107     Y's     124  ...    NaN       NaN    NaN       NaN
3   panda    11    å¤ªä¸‹çœŸå›      35  ...    NaN       NaN    NaN       NaN
4    ä¸€è·¯å‘åŒ—    13     é»„å…ƒå¸…      15  ...    NaN       NaN    NaN       NaN

[5 rows x 23 columns]

In [158]:
# æ›´æ”¹åˆ—åï¼Œæ–¹ä¾¿è½¬æ¢
col_1 = np.array(['é˜Ÿä¼åç§°','ç¼–å·_é˜Ÿé•¿1','æ˜µç§°_é˜Ÿé•¿1'])
col_2 = np.array([[f'ç¼–å·_é˜Ÿå‘˜{i}', f'æ˜µç§°_é˜Ÿå‘˜{i}']for i in range(1,11)]).flatten()
df.columns = np.r_[col_1,col_2]

In [159]:
df.head()

     é˜Ÿä¼åç§°  ç¼–å·_é˜Ÿé•¿1  æ˜µç§°_é˜Ÿé•¿1  ç¼–å·_é˜Ÿå‘˜1  ... ç¼–å·_é˜Ÿå‘˜9  æ˜µç§°_é˜Ÿå‘˜9 ç¼–å·_é˜Ÿå‘˜10  æ˜µç§°_é˜Ÿå‘˜10
0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ       5  å±±æ«å¶çº·é£        6  ...    NaN     NaN     NaN      NaN
1     ç†ŠçŒ«äºº     175     é±¼å‘²å‘²      44  ...   28.0   X.Y.Q   151.0   swrong
2   ä¸­å›½ç§»ä¸åŠ¨     107     Y's     124  ...    NaN     NaN     NaN      NaN
3   panda      11    å¤ªä¸‹çœŸå›      35  ...    NaN     NaN     NaN      NaN
4    ä¸€è·¯å‘åŒ—      13     é»„å…ƒå¸…      15  ...    NaN     NaN     NaN      NaN

[5 rows x 23 columns]

In [160]:
res = pd.wide_to_long(df.reset_index(),
            stubnames = ['æ˜µç§°','ç¼–å·'],
            i = ['index','é˜Ÿä¼åç§°'],
            j = 'æ˜¯å¦é˜Ÿé•¿',
            sep = '_',
            suffix = '.+').dropna().reset_index().drop(columns='index')

In [161]:
res

       é˜Ÿä¼åç§° æ˜¯å¦é˜Ÿé•¿          æ˜µç§°     ç¼–å·
0    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿé•¿1      å±±æ«å¶çº·é£     5.0
1    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜1          è”¡     6.0
2    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜2        å®‰æ…•å¸Œ     7.0
3    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜3          ä¿¡ä»°    8.0
4    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  é˜Ÿå‘˜4    biubiuğŸ™ˆğŸ™ˆ   20.0
..      ...  ...         ...    ...
141    ä¸ƒæ˜Ÿè”ç›Ÿ  é˜Ÿå‘˜4       Daisy   63.0
142    ä¸ƒæ˜Ÿè”ç›Ÿ  é˜Ÿå‘˜5  One Better  131.0
143    ä¸ƒæ˜Ÿè”ç›Ÿ  é˜Ÿå‘˜6        rain  112.0
144     åº”å¦‚æ˜¯  é˜Ÿé•¿1         æ€æ— é‚ª   54.0
145     åº”å¦‚æ˜¯  é˜Ÿå‘˜1    Justzer0   58.0

[146 rows x 4 columns]

In [165]:
# res['tem'] = res['æ˜¯å¦é˜Ÿé•¿'].apply(lambda x:x)
res['tem'] = res.apply(lambda x: 1 if x['æ˜¯å¦é˜Ÿé•¿']=="é˜Ÿé•¿1" else 0, axis=1)

In [167]:
res['æ˜¯å¦é˜Ÿé•¿'] = res['tem']
res.drop(columns='tem', inplace=True)
res

       é˜Ÿä¼åç§°  æ˜¯å¦é˜Ÿé•¿          æ˜µç§°     ç¼–å·
0    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     1      å±±æ«å¶çº·é£     5.0
1    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0          è”¡     6.0
2    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0        å®‰æ…•å¸Œ     7.0
3    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0          ä¿¡ä»°    8.0
4    ä½ è¯´çš„éƒ½å¯¹é˜Ÿ     0    biubiuğŸ™ˆğŸ™ˆ   20.0
..      ...   ...         ...    ...
141    ä¸ƒæ˜Ÿè”ç›Ÿ     0       Daisy   63.0
142    ä¸ƒæ˜Ÿè”ç›Ÿ     0  One Better  131.0
143    ä¸ƒæ˜Ÿè”ç›Ÿ     0        rain  112.0
144     åº”å¦‚æ˜¯     1         æ€æ— é‚ª   54.0
145     åº”å¦‚æ˜¯     0    Justzer0   58.0

[146 rows x 4 columns]

#### ä»»åŠ¡ä¸‰ 
ç¾å›½å¤§é€‰æŠ•ç¥¨æƒ…å†µ

ã€é¢˜ç›®æè¿°ã€‘ä¸¤å¼ æ•°æ®è¡¨ä¸­åˆ†åˆ«ç»™å‡ºäº†ç¾å›½å„å¿ï¼ˆcountyï¼‰çš„äººå£æ•°ä»¥åŠå¤§é€‰çš„æŠ•ç¥¨æƒ…å†µï¼Œè¯·è§£å†³ä»¥ä¸‹é—®é¢˜ï¼š

æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ
æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°
```
# æ­¤å¤„æ˜¯ä¸€ä¸ªæ ·ä¾‹ï¼Œå®é™…çš„å·æˆ–äººåç”¨åŸè¡¨çš„è‹±è¯­ä»£æ›¿
            æ‹œç™»   å·æ™®
å¨æ–¯åº·æ˜Ÿå·   2      1
å¾·å…‹è¨æ–¯å·   3      4
```
æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State

In [177]:
df_can = pd.read_csv('president_county_candidate.csv')
df_popu = pd.read_csv('county_population.csv')

In [170]:
df_can.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [171]:
df_popu.head()

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

In [176]:
# 1. æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ

# å°†US countryä¸­æ•°æ®æŒ‰ç…§é€—å·åˆ†éš”å¼€
df_popu[['county','state']]=df_popu['US County'].str.split(', ',expand=True)
# å»æ‰é¢å¤–çš„ç¬¦å·
df_popu['county'] = df_popu['county'].str.replace('.','')
total_votes = df_can.groupby(['county','state'])['total_votes'].sum().to_frame()
total_votes = total_votes.reset_index()
res = total_votes.merge(df_popu,on=['county','state'],how='left')
res = res.fillna(0)
res[res['total_votes']>(res['Population']/2)].count()

county         3033
state          3033
total_votes    3033
US County      3033
Population     3033
dtype: int64

In [180]:
df_can.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [182]:
# 2. æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œ
# åˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°


# é•¿è¡¨å˜å®½è¡¨
# å› ä¸ºæœ‰é‡å¤å€¼ï¼Œæ‰€ä»¥éœ€è¦ä½¿ç”¨pivot_table
res = df_can.pivot_table(index='state',columns='candidate',values='total_votes',aggfunc='sum')
res = res.fillna(0)

# é‡å‘½ååˆ—å
columns_name = res.sum(0).sort_values(ascending=False).index.tolist()
result = res.reindex(index=res.index, columns=columns_name)
result.head()

candidate    Joe Biden  Donald Trump  ...  Keith McCormic  Zachary Scalf
state                                 ...
Alabama       849648.0     1441168.0  ...             0.0            0.0
Alaska        153405.0      189892.0  ...             0.0            0.0
Arizona      1672143.0     1661686.0  ...             0.0            0.0
Arkansas      423932.0      760647.0  ...             0.0            0.0
California  11109764.0     6005961.0  ...             0.0            0.0

[5 rows x 38 columns]

In [184]:
# 3. æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œ
# è‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State

# è®¡ç®—çš„å¾—ç¥¨ç‡
df_can['BT'] = df_can.groupby(['state','county'])['total_votes'].apply(lambda x: x/x.sum())
df_can.sort_values('state')

res = df_can.pivot(index=['state','county'],columns='candidate',values='BT')
res['BT'] = res['Joe Biden']-res['Donald Trump']
res = res.reset_index()
res = res.groupby(['state'])['BT'].apply(lambda x:x.median()>0).to_frame()
res[res.BT==True].index

Index(['California', 'Connecticut', 'Delaware', 'District of Columbia',
       'Hawaii', 'Massachusetts', 'New Jersey', 'Rhode Island', 'Vermont'],
      dtype='object', name='state')