#### 任务一：

【任务一】企业收入的多样性

【题目描述】一个企业的产业收入多样性可以仿照信息熵的概念来定义收入熵指标：

$$\rm I=-\sum_{i}p(x_i)\log(p(x_i))$$

 是企业该年某产业收入额占该年所有产业总收入的比重。在company.csv中存有需要计算的企业和年份，在company_data.csv中存有企业、各类收入额和收入年份的信息。现请利用后一张表中的数据，在前一张表中增加一列表示该公司该年份的收入熵指标 
I。

In [117]:
%cd drive/MyDrive/data

[Errno 2] No such file or directory: 'drive/MyDrive/data'
/content/drive/My Drive/data

In [118]:
%cd data

[Errno 2] No such file or directory: 'data'
/content/drive/My Drive/data

In [119]:
!ls

 airport.csv	    fruit.csv		       my_txt_saved.txt
 audit.csv	    house_info.xls	       pokemon.csv
 car.csv	    learn_pandas.csv	       script.csv
 chocolate.csv	    missing_chi.csv	       solar.csv
 color.xlsx	    my_csv.csv		       us_report
 company.csv	    my_csv_saved.csv	       winCodeSign-2.5.0.7z
 Company.csv	    my_excel_saved.xlsx       '可视化 (1).JPG'
 Company_data.csv   my_excel.xlsx	       可视化.JPG
 diamonds.csv	    my_table_special_sep.txt   相控阵.png
 drugs.csv	    my_table.txt	       系统.png

In [142]:
import pandas as pd

df1 = pd.read_csv('Company.csv')
df2 = pd.read_csv('Company_data.csv')

In [121]:
df1.head()

      证券代码    日期
0  #000007  2014
1  #000403  2015
2  #000408  2016
3  #000408  2017
4  #000426  2015

In [122]:
df2.head()

   证券代码          日期  收入类型           收入额
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10
3     1  2008/12/31     4  1.063843e+09
4     1  2008/12/31     5  8.513880e+08

In [143]:
# 将df1的证券代码格式化为数字
df1['证券代码'] = df1['证券代码'].str[1:].astype('int64')
df1.head()

   证券代码    日期
0     7  2014
1   403  2015
2   408  2016
3   408  2017
4   426  2015

In [144]:
# 将df2的日期转换为年
df2['日期'] = df2['日期'].map(lambda x:x.split('/')[0])

In [145]:
df2['日期'] = df2['日期'].astype('int64')
df1['日期'] = df1['日期'].astype('int64')

In [126]:
df2['日期']

0         2008
1         2008
2         2008
3         2008
4         2008
          ...
964017    2016
964018    2016
964019    2016
964020    2016
964021    2016
Name: 日期, Length: 964022, dtype: int64

In [127]:
df2.head()

      证券代码    日期  收入类型           收入额
0  #000001  2008     1  1.084218e+10
1  #000001  2008     2  1.259789e+10
2  #000001  2008     3  1.451312e+10
3  #000001  2008     4  1.063843e+09
4  #000001  2008     5  8.513880e+08

In [130]:
df2['日期']

0         2008
1         2008
2         2008
3         2008
4         2008
          ...
964017    2016
964018    2016
964019    2016
964020    2016
964021    2016
Name: 日期, Length: 964022, dtype: int64

In [146]:
df1.head()

   证券代码    日期
0     7  2014
1   403  2015
2   408  2016
3   408  2017
4   426  2015

In [147]:
import numpy as np

def compute_shang(x):
    # 计算收入熵
    if x.any():
        p = x/x.sum()
        return -(p*np.log2(p)).sum()
    return np.nan

In [148]:
res = df1.merge(df2, on=['证券代码','日期'], how='left').groupby(['证券代码','日期'])['收入额'].apply(compute_shang).reset_index()
res.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)

   证券代码    日期       收入额
0     7  2014  4.429740
1   403  2015  4.025963
2   408  2016  4.066295
3   408  2017       NaN
4   426  2015  4.449655

In [149]:
df1['收入熵指标I'] = res['收入额']
df1.head()

   证券代码    日期    收入熵指标I
0     7  2014  4.429740
1   403  2015  4.025963
2   408  2016  4.066295
3   408  2017       NaN
4   426  2015  4.449655

#### 任务二
【任务二】组队学习信息表的变换

【题目描述】请把组队学习的队伍信息表变换为如下形态，其中“是否队长”一列取1表示队长，否则为0

```
	是否队长	队伍名称	    昵称    	编号
0	1	    你说的都对队	山枫叶纷飞	5
1	0	    你说的都对队	蔡	        6
2	0	    你说的都对队	安慕希	    7
3	0	    你说的都对队	信仰	    8
4	0	    你说的都对队	biubiu🙈🙈	20
...	...	    ...	        ...	        ...
141	0	    七星联盟	    Daisy	    63
142	0	    七星联盟    	One Better	131
143	0	    七星联盟    	rain	    112
144	1	    应如是	    思无邪	    54
145	0	    应如是	    Justzer0	58
```

In [152]:

df = pd.read_excel('组队信息汇总表（Pandas）.xlsx')
# 去掉无用的列
df.drop(columns='所在群', inplace=True)

In [153]:
df.head()

     队伍名称  队长编号  队长_群昵称  队员1 编号  ... 队员9 编号  队员_群昵称.8 队员10编号  队员_群昵称.9
0  你说的都对队     5  山枫叶纷飞        6  ...    NaN       NaN    NaN       NaN
1     熊猫人   175     鱼呲呲      44  ...   28.0     X.Y.Q  151.0    swrong
2   中国移不动   107     Y's     124  ...    NaN       NaN    NaN       NaN
3   panda    11    太下真君      35  ...    NaN       NaN    NaN       NaN
4    一路向北    13     黄元帅      15  ...    NaN       NaN    NaN       NaN

[5 rows x 23 columns]

In [158]:
# 更改列名，方便转换
col_1 = np.array(['队伍名称','编号_队长1','昵称_队长1'])
col_2 = np.array([[f'编号_队员{i}', f'昵称_队员{i}']for i in range(1,11)]).flatten()
df.columns = np.r_[col_1,col_2]

In [159]:
df.head()

     队伍名称  编号_队长1  昵称_队长1  编号_队员1  ... 编号_队员9  昵称_队员9 编号_队员10  昵称_队员10
0  你说的都对队       5  山枫叶纷飞        6  ...    NaN     NaN     NaN      NaN
1     熊猫人     175     鱼呲呲      44  ...   28.0   X.Y.Q   151.0   swrong
2   中国移不动     107     Y's     124  ...    NaN     NaN     NaN      NaN
3   panda      11    太下真君      35  ...    NaN     NaN     NaN      NaN
4    一路向北      13     黄元帅      15  ...    NaN     NaN     NaN      NaN

[5 rows x 23 columns]

In [160]:
res = pd.wide_to_long(df.reset_index(),
            stubnames = ['昵称','编号'],
            i = ['index','队伍名称'],
            j = '是否队长',
            sep = '_',
            suffix = '.+').dropna().reset_index().drop(columns='index')

In [161]:
res

       队伍名称 是否队长          昵称     编号
0    你说的都对队  队长1      山枫叶纷飞     5.0
1    你说的都对队  队员1          蔡     6.0
2    你说的都对队  队员2        安慕希     7.0
3    你说的都对队  队员3          信仰    8.0
4    你说的都对队  队员4    biubiu🙈🙈   20.0
..      ...  ...         ...    ...
141    七星联盟  队员4       Daisy   63.0
142    七星联盟  队员5  One Better  131.0
143    七星联盟  队员6        rain  112.0
144     应如是  队长1         思无邪   54.0
145     应如是  队员1    Justzer0   58.0

[146 rows x 4 columns]

In [165]:
# res['tem'] = res['是否队长'].apply(lambda x:x)
res['tem'] = res.apply(lambda x: 1 if x['是否队长']=="队长1" else 0, axis=1)

In [167]:
res['是否队长'] = res['tem']
res.drop(columns='tem', inplace=True)
res

       队伍名称  是否队长          昵称     编号
0    你说的都对队     1      山枫叶纷飞     5.0
1    你说的都对队     0          蔡     6.0
2    你说的都对队     0        安慕希     7.0
3    你说的都对队     0          信仰    8.0
4    你说的都对队     0    biubiu🙈🙈   20.0
..      ...   ...         ...    ...
141    七星联盟     0       Daisy   63.0
142    七星联盟     0  One Better  131.0
143    七星联盟     0        rain  112.0
144     应如是     1         思无邪   54.0
145     应如是     0    Justzer0   58.0

[146 rows x 4 columns]

#### 任务三 
美国大选投票情况

【题目描述】两张数据表中分别给出了美国各县（county）的人口数以及大选的投票情况，请解决以下问题：

有多少县满足总投票数超过县人口数的一半
把州（state）作为行索引，把投票候选人作为列名，列名的顺序按照候选人在全美的总票数由高到低排序，行列对应的元素为该候选人在该州获得的总票数
```
# 此处是一个样例，实际的州或人名用原表的英语代替
            拜登   川普
威斯康星州   2      1
德克萨斯州   3      4
```
每一个州下设若干县，定义拜登在该县的得票率减去川普在该县的得票率为该县的BT指标，若某个州所有县BT指标的中位数大于0，则称该州为Biden State，请找出所有的Biden State

In [177]:
df_can = pd.read_csv('president_county_candidate.csv')
df_popu = pd.read_csv('county_population.csv')

In [170]:
df_can.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [171]:
df_popu.head()

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686
3     .Bibb County, Alabama       22394
4   .Blount County, Alabama       57826

In [176]:
# 1. 有多少县满足总投票数超过县人口数的一半

# 将US country中数据按照逗号分隔开
df_popu[['county','state']]=df_popu['US County'].str.split(', ',expand=True)
# 去掉额外的符号
df_popu['county'] = df_popu['county'].str.replace('.','')
total_votes = df_can.groupby(['county','state'])['total_votes'].sum().to_frame()
total_votes = total_votes.reset_index()
res = total_votes.merge(df_popu,on=['county','state'],how='left')
res = res.fillna(0)
res[res['total_votes']>(res['Population']/2)].count()

county         3033
state          3033
total_votes    3033
US County      3033
Population     3033
dtype: int64

In [180]:
df_can.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [182]:
# 2. 把州（state）作为行索引，把投票候选人作为列名，
# 列名的顺序按照候选人在全美的总票数由高到低排序，行列对应的元素为该候选人在该州获得的总票数


# 长表变宽表
# 因为有重复值，所以需要使用pivot_table
res = df_can.pivot_table(index='state',columns='candidate',values='total_votes',aggfunc='sum')
res = res.fillna(0)

# 重命名列名
columns_name = res.sum(0).sort_values(ascending=False).index.tolist()
result = res.reindex(index=res.index, columns=columns_name)
result.head()

candidate    Joe Biden  Donald Trump  ...  Keith McCormic  Zachary Scalf
state                                 ...
Alabama       849648.0     1441168.0  ...             0.0            0.0
Alaska        153405.0      189892.0  ...             0.0            0.0
Arizona      1672143.0     1661686.0  ...             0.0            0.0
Arkansas      423932.0      760647.0  ...             0.0            0.0
California  11109764.0     6005961.0  ...             0.0            0.0

[5 rows x 38 columns]

In [184]:
# 3. 每一个州下设若干县，定义拜登在该县的得票率减去川普在该县的得票率为该县的BT指标，
# 若某个州所有县BT指标的中位数大于0，则称该州为Biden State，请找出所有的Biden State

# 计算的得票率
df_can['BT'] = df_can.groupby(['state','county'])['total_votes'].apply(lambda x: x/x.sum())
df_can.sort_values('state')

res = df_can.pivot(index=['state','county'],columns='candidate',values='BT')
res['BT'] = res['Joe Biden']-res['Donald Trump']
res = res.reset_index()
res = res.groupby(['state'])['BT'].apply(lambda x:x.median()>0).to_frame()
res[res.BT==True].index

Index(['California', 'Connecticut', 'Delaware', 'District of Columbia',
       'Hawaii', 'Massachusetts', 'New Jersey', 'Rhode Island', 'Vermont'],
      dtype='object', name='state')